/* --------------------------------------------------------- */
/* Base page.                                                */


body {
  font-family: 'Inter', 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.05em;
  line-height: 1.4em;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #0A0A0A;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
  }
}
@supports (font-variation-settings: 'slnt' 10) {
  * { font-variation-settings: 'slnt' 0deg; }
  .italic { font-variation-settings: 'slnt' 10deg; }
  body {
    font-family: 'Inter var experimental', 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
  }
}

.navigation, .bread, .intro, .content, .footer {
  margin: 15px 30px;
  grid-column: 2;
}

.section {
  display: grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
}

.skip-link {
  position: absolute;
  text-align: center;
  top: 0;
  right: 100%;
}

.date {
  margin-bottom: -3px;
  margin-top: 5px;
}

hr {
  margin: 25px auto 25px auto;
}

a {
  color: #1b4f99;
}

a:hover {
  color: #991b8c;
}

pre, code {
  overflow-x: auto;
  white-space: pre;
  font-size: 1em;
  line-height: 1.2em;
  font-family: 'Inconsolata', monospace;
  background-color: #efefef;
  border-radius: 4px;
}
pre { padding: 15px 20px; }
code { padding: 2px 7px; }
pre code { padding: 0; }

blockquote {
  color: #212121;
  border-left: 3px solid #8d8d8d;
  margin-right: 0;
  padding-right: 15px;
  margin-left: 0;
  padding-left: 15px;
}

table {
  width: 100%;
  overflow-x: auto;
  border: 2px solid #e1e1e1;
  border-collapse: collapse;
  margin: 20px 0px;
}

tr:nth-child(even) {
  background-color: #eaeaea;
}

th {
  background-color: #e1e1e1;
}

th, td {
  padding: 5px 15px;
  border: 2px solid #e1e1e1;
}

details {
  background-color: #efe6d3;
  border-radius: 4px;
  padding: 10px 15px;
}

summary {
  cursor: pointer;
  padding: 5px;
  margin: 0;
}

abbr {
  cursor: help;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
  margin-top: 1.4em;
  line-height: 1.3em;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.3em;
}



/* --------------------------------------------------------- */
/* Navigation section.                                       */


.nav-section {
  /*
   * Purple: #666489;
   * Green:  #64897a;
   * Teal:   #647d89;
   * Pink:   #896477;
   * Red:    #896464;
   */
  background-color: #64897a;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}

.navigation h1 {
  margin: 0;
  margin-right: 30px;
}

.navigation a {
  transition: 0.2s;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  color: #0A0A0A;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 7px 0 7px 0;
  margin: 0;
  margin-left: -15px;
}

.navigation ul li {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 15px;
}



/* --------------------------------------------------------- */
/* Breadcrumbs.                                              */


.bread-section {
  background-color: #F2F2F6;
}

.bread {
  font-weight: 500;
}



/* --------------------------------------------------------- */
/* Intro section.                                            */


.intro-section {
  background-color: #e5dfd0;
}

.intro h1, .intro h2 {
  margin: 10px 0px;
}

.intro h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.3em;
}



/* --------------------------------------------------------- */
/* Content section.                                          */


#main-content {
  flex: auto;
}

.content img {
  display: block;
  margin: auto;
  max-width: min(70ch, 100%);
}

.content li {
  margin-bottom: 4px;
}

.content a:visited { color: #632393; }
.content a:hover { color: #991b8c; }



/* --------------------------------------------------------- */
/* Footer section.                                           */


.footer-section {
  background-color: #F2F2F6;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px 15px;
}
