{:requires ["favicon.ico" "favicon.jpg" "avatars" "hero.jpg" "main.css" "robots.txt" "fonts" "CNAME"]
 :head
 [:style "
  #main-content {
    --blend-mode: lighten;
    --color: rgba(255,255,255,0.4);
  }

  #main-content {
     background-image: url('/hero.jpg');
     background-repeat: no-repeat;
     background-blend-mode: var(--blend-mode);
     background-color: var(--color);
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
   }

  @media (prefers-color-scheme: dark) {
    #main-content {
      --blend-mode: darken;
      --color: rgba(0,0,0,0.6);
    }
  }"]}
