/* --------------------------------------------------------- */
/* Colour definitions.                                       */

:root {
  --bg-main:     #ffffff;
  --bg-alt:      #f2f2f6;
  --fg-main:     #0a0a0a;
  --fg-alt:      #212121;
  --fg-pale:     #8d8d8d;
  --fg-link:     #1b4f99;
  --fg-link-alt: #991b8c;
  --bg-nav:      #64897a;
  --bg-intro:    #e5dfd0;
  --tbl-border:  #e1e1e1;
  --tbl-row-alt: #eaeaea;
}

/* TODO: dark variant.
@media (prefers-color-scheme: dark) {
  :root { }
}
*/



/* --------------------------------------------------------- */
/* Base page.                                                */

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'Inter', 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--fg-main);
  background-color: var(--bg-main);
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', 'IBM Plex Sans', 'Helvetica', 'Arial', sans-serif;
  }
}

.navigation, .bread, .intro, .content, .footer {
  margin: 14px 28px;
  grid-column: 2;
}

.section {
  display: grid;
  grid-template-columns: 1fr min(70ch, 100%) 1fr;
}

.skip-link {
  position: absolute;
  text-align: center;
  top: 0;
  right: 100%;
}

.date {
  margin-bottom: -3px;
  margin-top: 5px;
}

hr { margin: 25px auto 25px auto; }

a { color: var(--fg-link); }
a:hover { color: var(--fg-link-alt); }

pre, code {
  overflow-x: auto;
  white-space: pre;
  font-size: 1em;
  line-height: 1.2em;
  font-family: 'Inconsolata', monospace;
  background-color: var(--bg-alt);
  color: var(--fg-main);
  border-radius: 4px;
}
pre { padding: 15px 20px; }
code { padding: 2px 7px; }
pre code { padding: 0; }
a pre, a code { color: var(--fg-link); }
a:hover pre, a:hover code { color: var(--fg-link-alt); }

blockquote {
  color: var(--fg-alt);
  border-left: 3px solid var(--fg-pale);
  margin-right: 0;
  padding-right: 15px;
  margin-left: 0;
  padding-left: 15px;
}

.table-container {
  margin: 20px 0px;
  overflow-x: auto;
  outline: 2px solid var(--tbl-border);
}

table {
  width: 100%;
  border: 2px solid var(--tbl-border);
  border-collapse: collapse;
  border-style: hidden;
}

tr:nth-child(even) {
  background-color: var(--tbl-row-alt);
}

th {
  background-color: var(--tbl-border);
}

th, td {
  padding: 5px 15px;
  border: 2px solid var(--tbl-border);
}

details {
  background-color: var(--bg-alt);
  border-radius: 4px;
  padding: 10px 15px;
}

summary {
  cursor: pointer;
  padding: 5px;
  margin: 0;
}

abbr { cursor: help; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
  margin-top: 1.4em;
  line-height: 1.3em;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.1em;
  font-weight: 700;
}



/* --------------------------------------------------------- */
/* Navigation section.                                       */


.nav-section {
  /*
   * Purple: #666489;
   * Green:  #64897a;
   * Teal:   #647d89;
   * Pink:   #896477;
   * Red:    #896464;
   */
  background-color: var(--bg-nav);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
}

.navigation h1 {
  margin: 0;
  margin-right: 30px;
}

.navigation a {
  transition: 0.2s;
  color: var(--bg-main);
  text-decoration: none;
}

.navigation a:hover {
  color: var(--fg-main);
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 7px 0 7px 0;
  margin: 0;
  margin-left: -15px;
}

.navigation ul li {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 15px;
}



/* --------------------------------------------------------- */
/* Breadcrumbs.                                              */


.bread-section {
  background-color: var(--bg-alt);
}

.bread {
  font-weight: 500;
}



/* --------------------------------------------------------- */
/* Intro section.                                            */


.intro-section {
  background-color: var(--bg-intro);
}

.intro h1, .intro h2 {
  margin: 10px 0px;
}

.intro h2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.3em;
}



/* --------------------------------------------------------- */
/* Content section.                                          */


#main-content {
  flex: auto;
}

.content img {
  display: block;
  margin: auto;
  max-width: min(70ch, 100%);
}

.content li {
  margin-bottom: 4px;
}


.content .footnote {
  font-size: 0.85em;
  color: var(--fg-alt);
  margin: 0;
  padding: 0;
}


/* --------------------------------------------------------- */
/* Footer section.                                           */


.footer-section {
  background-color: var(--bg-alt);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px 15px;
}
