{:title "Blog"
 ;; TODO: generate this page.
 :content
 (letfn [(post [{:keys [title type url date desc]}]
           [:div {:class (str type)}
            [:h4 [:a {:href url} title]]
            [:p {:class "date"} date]
            [:p desc]])]
   [:div
    [:p
     "A collection of my "
     [:a {:href "http://paulgraham.com/essay.html"} "essays"]
     ", with occassional blog-like posts."]
    (post
      {:title "Polymorphism"
       :type  :essay
       :url   "polymorphism/"
       :desc  "Expressiveness of notation in relation to programming languages."
       :date  "April 2024"})])}
