{:title "Blog"
 ;; TODO: generate this page.
 :content
 (let [post (fn [{:keys [title type url date desc]}]
              [:div {:class (str type)}
               [:h4 [:a {:href url} title]]
               [:p {:class "date"} date]
               [:p desc]])]
   [:div
    [:p
     "A collection of my "
     [:a {:href "http://paulgraham.com/essay.html"} "essays"]
     ", with occassional blog-like posts."]
    #_(post
       {:title "Example"
        :type  :essay
        :url   "example/"
        :desc  "Example essay."
        :date  "April 2024"})])}
