{:site "Alex Vear"
 :author "Alex Vear"
 :copyright-year 2024
 :licence "CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/)"
 :template "template.html"
 :image "/favicon.jpg"
 :source "website/"
 :dist "target/website/"}
