{:title "Contribution timeline"
 :head [:meta {:name "robots" :content "noindex"}]
 :content
 [:div
  [:p "This is a complete list of all my contributions to other people's projects."]

  [:h4 [:a {:href "https://github.com/schmee/java-http-clj"} "Java-http-clj"]]
  [:div {:class "date"} [:span {:title "2022-06-13 — 2022-06-15"} "2022"]]
  [:ul
   [:li
    [:em
     "Add short-hand functions for some common additional HTTP methods ("
     [:a {:href "https://github.com/schmee/java-http-clj/pull/7"} "#7"]
     ")."]]
   [:li
    "Fix broken links in documentation ("
    [:a {:href "https://github.com/schmee/java-http-clj/pull/8"} "#8"]
    ")."]]

  [:h4 [:a {:href "https://github.com/jimmythompson/halboy"} "Halboy"]]
  [:div {:class "date"} [:span {:title "2022-03-08"} "2022"]]
  [:ul
   [:li
    [:strike
     "Check Content-Type header before parsing HTTP response as JSON ("
     [:a {:href "https://github.com/jimmythompson/halboy/pull/17"} "#17"]
     ")."]]]

  [:h4 [:a {:href "http://pedestal.io/"} "Pedestal"]]
  [:div {:class "date"} [:span {:title "2021-11-03"} "2021"]]
  [:ul
   [:li
    [:em
     "Small documentation update ("
     [:a {:href "https://github.com/pedestal/pedestal-docs/pull/158"} "#158"]
     ")."]]]

  [:h4 [:a {:href "https://github.com/PlummersSoftwareLLC/Primes/"} "Primes"]]
  [:div {:class "date"} [:span {:title "2021-08-04 – 2021-12-31"} "2021"]]
  [:ul
   [:li
    "Fast Clojure solution ("
    [:a {:href "https://github.com/PlummersSoftwareLLC/Primes/pull/605"} "#605"]
    ", "
    [:a {:href "https://github.com/PlummersSoftwareLLC/Primes/pull/800"} "#800"]
    ")."]
   [:li "(+ my " [:a {:href "https://github.com/axvr/codedump/tree/master/2021/primes"} "earlier solutions"] ".)"]]

  [:h4 [:a {:href "https://www.vim.org"} "Vim"]]
  [:div {:class "date"} [:span {:title "2021-02-13 – 2022-03-24"} "2021 – 2022"]]
  [:ul
   [:li
    "Detect Common Lisp ASDF files and R7RS Scheme .sld files ("
    [:a {:href "https://github.com/vim/vim/pull/9447"} "#9447"]
    ")."]
   [:li
    "Update "
    [:a {:href "https://github.com/clojure-vim/clojure.vim"} "Clojure runtime"]
    " files ("
    [:a {:href "https://github.com/vim/vim/pull/7830"} "#7830"]
    ", "
    [:a {:href "https://github.com/vim/vim/pull/9053"} "#9053"]
    ", "
    [:a {:href "https://github.com/vim/vim/pull/10010"} "#10010"]
    ")."]]

  [:h4 [:a {:href "https://github.com/clojure/clojure-clr"} "Clojure CLR"]]
  [:div {:class "date"} [:span {:title "2020-06-04"} "2020"]]
  [:ul
   [:li "Bug fix (" [:a {:href "https://github.com/clojure/clojure-clr/pull/32"} "#32"] ")."]]

  [:h4 [:a {:href "https://github.com/tpope/vim-markdown"} "Vim-markdown"]]
  [:div {:class "date"} [:span {:title "2018-11-07"} "2018"]]
  [:ul
   [:li "Bug fix (" [:a {:href "https://github.com/tpope/vim-markdown/pull/137"} "#137"] ")."]]

  [:h4 [:a {:href "https://github.com/OmniSharp/omnisharp-vim"} "OmniSharp-vim"]]
  [:div {:class "date"} [:span {:title "2018-07-24 – 2019-12-14"} "2018 – 2019"]]
  [:ul
   [:li
    "Created the automated "
    [:a {:href "https://github.com/OmniSharp/omnisharp-roslyn"} "server"]
    " installer to help users get the plugin up and running quicker with fewer issues ("
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/382"} "#382"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/387"} "#387"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/395"} "#395"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/442"} "#442"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/495"} "#495"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/540"} "#540"] ", "
    [:a {:href "https://github.com/OmniSharp/omnisharp-vim/pull/541"} "#541"] ")."]
   [:li "Helped resolve server installation issues."]
   [:li "Reviewed several PRs related to the installer."]]

  [:h4 [:a {:href "https://github.com/Quramy/tsuquyomi"} "Tsuquyomi"]]
  [:div {:class "date"} [:span {:title "2018-03-22"} "2018"]]
  [:ul
   [:li
    "Bug fix ("
    [:a {:href "https://github.com/Quramy/tsuquyomi/pull/220"} "#220"]
    ")."]]

  ;; [:h4 [:a {:href "https://bitcoin.org"} "Bitcoin Core"]]
  ;; [:div {:class "date"} [:span {:title "2018-01-30"} "2018"]]
  ;; [:ul
  ;;  [:li
  ;;   "Small documentation update ("
  ;;   [:a {:href "https://github.com/bitcoin/bitcoin/pull/12306"} "#12306"]
  ;;   ")."]]

  [:h4 [:a {:href "https://github.com/liuchengxu/space-vim-dark"} "Space-vim-dark"]]
  [:div {:class "date"} [:span {:title "2017-11-04 – 2017-12-12"} "2017"]]
  [:ul
   [:li
    "Consistency fix ("
    [:a {:href "https://github.com/liuchengxu/space-vim-dark/pull/9"} "#9"]
    ")."]
   [:li
    "Created an Xresources port ("
    [:a {:href "https://github.com/liuchengxu/space-vim-dark/pull/12"} "#12"]
    ")."]]

  [:h4 [:a {:href "https://github.com/cyberalex4life/gnome-shell-extension-cl"} "Gnome-shell-extension-cl"]]
  [:div {:class "date"} [:span {:title "2017-07-12 – 2017-10-02"} "2017"]]
  [:ul
   [:li "Various changes ("
    [:a {:href "https://github.com/cyberalex4life/gnome-shell-extension-cl/pull/2"} "#2"] ", "
    [:a {:href "https://github.com/cyberalex4life/gnome-shell-extension-cl/pull/3"} "#3"] ", "
    [:a {:href "https://github.com/cyberalex4life/gnome-shell-extension-cl/pull/4"} "#4"] ", "
    [:a {:href "https://github.com/cyberalex4life/gnome-shell-extension-cl/pull/6"} "#6"] ")."]]]}
