/* ------------------------------ */
/* Colour definitions.            */

:root {
	--bg-main:     #ffffff;
	--bg-alt:      #f4f2f1;
	--fg-main:     #0a0a0a;
	--fg-alt:      #212121;
	--fg-link:     #1b4f99;
	--fg-link-alt: #991b8c;
	--bg-nav:      #64897a;
	--bg-cover:    #e5dfd0;
}

/* Dark variant. */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-main:     #212121;
		--bg-alt:      #303030;
		--fg-main:     #e4e4e4;
		--fg-alt:      #dddddd;
		--fg-link:     #80bdf7;
		--fg-link-alt: #ba80f7;
		--bg-nav:      #44aa9d;
		--bg-cover:    #424242;
	}
}

/* ------------------------------ */
/* Base page.                     */

/* https://rsms.me/inter/download/ */
:root {
	font-family: Inter, 'Helvetica', 'Arial', sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
	:root { font-family: InterVariable, 'Helvetica', 'Arial', sans-serif; }
}

html {
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	font-size: 1em;
	line-height: 1.4em;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	min-width: 0;
	min-height: 100vh;
	color: var(--fg-main);
	background-color: var(--bg-main);
}

.navigation, .bread, .cover, .content, .footer {
	margin: 14px 28px;
	grid-column: 2;
}

.section {
	display: grid;
	grid-template-columns: minmax(0, 1fr) min(70ch, 100%) minmax(0, 1fr);
}

.skip-link {
	position: absolute;
	text-align: center;
	top: 0;
	right: 100%;
}

.date {
	margin-bottom: -3px;
	margin-top: 5px;
}

/* Make <hr> into a dinkus. */
hr {
	margin: 25px auto;
	border: none;
}
hr::before {
	color: var(--bg-nav);
	font-size: 1.3em;
	content: '∗ ∗ ∗';
	font-weight: 700;
	display: block;
	text-align: center;
}

a { color: var(--fg-link); }
a:hover { color: var(--fg-link-alt); }

pre, code {
	overflow-x: auto;
	white-space: pre;
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'IBM Plex Mono', 'Inconsolata', monospace;
	background-color: var(--bg-alt);
	color: var(--fg-main);
	border-radius: 3px;
}
pre { padding: 15px 20px; }
code { padding: 2px 7px; }
pre code { padding: 0; }
a pre, a code { color: var(--fg-link); }
a:hover pre, a:hover code { color: var(--fg-link-alt); }

blockquote {
	background-color: var(--bg-alt);
	border-left: 5px solid var(--bg-nav);
	margin-right: 0;
	margin-left: 0;
	padding: 1px 15px;
	border-radius: 3px;
}

.table-container {
	margin: 20px 0px;
	overflow-x: auto;
	outline: 2px solid var(--bg-nav);
	border-radius: 3px;
}

table {
	width: 100%;
	border: 2px solid var(--bg-nav);
	border-collapse: collapse;
	border-style: hidden;
}

tr:nth-child(even) {
	background-color: var(--bg-alt);
}

th, td {
	padding: 5px 15px;
	border: 2px solid var(--bg-cover);
}

th {
	background-color: var(--bg-nav);
	border-color: var(--bg-nav);
	color: var(--bg-main);
}

details {
	border-radius: 3px;
	padding: 10px 15px;
	border: 2px solid var(--bg-nav);
}

summary {
	background-color: var(--bg-cover);
	cursor: pointer;
	padding: 10px 15px;
	margin: 0;
	margin: -10px -15px;
}

summary:hover {
	background-color: var(--bg-nav);
	color: var(--bg-main);
}

abbr { cursor: help; }

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
	margin-top: 1.4em;
	line-height: 1.3em;
	font-weight: 600;
}

h1 {
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.1em;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	font-size: 1.6em;
	font-weight: 700;
}

h4 {
	font-size: 1.3em;
}

h5 {
	font-size: 1.1em;
	font-weight: 700;
}

/* ------------------------------ */
/* Navigation section.            */

.nav-section {
	background-color: var(--bg-nav);
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 10px 0;
}

.navigation h1 {
	margin: 0;
	margin-right: 30px;
}

.navigation a {
	color: var(--bg-main);
	text-decoration: none;
}

.navigation a:hover {
	color: var(--fg-main);
}

.navigation ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 7px 0 7px 0;
	margin: 0;
	margin-left: -15px;
}

.navigation ul li {
	font-size: 1.1em;
	font-weight: 600;
	margin-left: 15px;
}

/* ------------------------------ */
/* Breadcrumbs.                   */

.bread-section {
	background-color: var(--bg-alt);
}

.bread {
	font-weight: 500;
}

/* ------------------------------ */
/* Preamble section.              */

.cover-section {
	background-color: var(--bg-cover);
}

.cover h1, .cover h2 {
	margin: 10px 0px;
}

.cover h2 {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.3em;
}

/* ------------------------------ */
/* Content section.               */

#main-content {
	flex: auto;
}

.content img {
	display: block;
	margin: auto;
	max-width: min(70ch, 100%);
}

:where(main ol, main ul) {
  margin-inline-start: 0;
  padding-inline-start: 3ch;
}

.content li {
	margin-bottom: 4px;
}

.content .footnote {
	font-size: 0.85em;
	color: var(--fg-alt);
	margin: 0;
	padding: 0;
}

/* ------------------------------ */
/* Footer section.                */

.footer-section {
	background-color: var(--bg-alt);
}

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px 15px;
}
