{:title "Contact me"
 :noindex? true
 :content
 [:div
  [:p
   "The best way to contact me is via email.  You can construct my email
   address by doing the following:"]
  [:ol
   [:li "Insert an " [:code "@"] " between my first and surname (found at the top of the page)."]
   [:li "Append " [:code ".uk"] "."]]]}
